<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP</title>
</head>

<body>
    <section id="app">
        <div class="holder headline">
            Travel Planner
        </div>
        <main class="wrapper">
            <form>
                <div class="city">
                    <label class="bold" for="city">Enter Location</label>
                    <input id="city" onblur="" type="text" name="input" value="" placeholder="Location">
                </div>
                <div class="date">
                    <label class="bold" for="date">Departing Date</label>
                    <input id="date" class="bold" type="date" />
                </div>
                <button id="generate" onclick="" type="submit" name="" value="submit">
                    Add Trip
                </button>
                <div>
                    <div id="result-wrapper">
                        <div class="location-name"></div>
                        <div class="weather"></div>
                        <div class="time">
                            <div class="timer">
                                <p id="remainingHours"></p>
                                <p id="remainingMinutes"></p>
                                <p id="remainingSeconds"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </section>
</body>

</html>
